body {
  background-color: black;
}
div{
  color: #17d4fe;
  font-size: 60px;
  font-family: "Orbitron";
  letter-spacing: 7px;
}

.digital-clock {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 30%;
}
